[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=xterm -e ~/bin/spreads-restart
Icon=/usr/share/pixmaps/gksu-root-terminal.png
Name=Spreads Restart
Comment=Stop any running spreads then start spreads
Categories=Application;

