[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/local/bin/startspread
Icon=xterm
Name=Spreads
Comment=Book Scanning
Categories=Application;

